aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
chardet==4.0.0
coverage==5.5
execnet==1.9.0
idna==3.2
iniconfig==1.1.1
multidict==5.1.0
packaging==20.9
pep8==1.7.1
pluggy==0.13.1
py==1.10.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
pytest-cache==1.0
pytest-cov==2.12.1
pytest-flakes==4.0.3
pytest-pep8==1.0.6
pytest-pythonpath==0.7.3
toml==0.10.2
typing-extensions==3.10.0.0
yarl==1.6.3
